<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
</head>
<body>
<div class="sidebar">
    <nav class="col-12 bg-light">
        <!-- 副导航栏 -->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="download_zone">下载主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materials_model?type=开题资料">开题资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materials_model?type=中期资料">中期资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materials_model?type=结题资料">答辩资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materials_model?type=学位论文">学位论文</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materials_model?type=专利资料">专利资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materials_model?type=会议资料">会议资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materials_model?type=上级文件">上级文件</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materials_model?type=其他资料">其他资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upload_materials">资料上传</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upload_approval">上传审批</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>