<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
</head>
<body>
<div class="sidebar">
    <nav class="col-12 bg-light">
        <!-- 副导航栏 -->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="download_zone">下载专区主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="thesis_topic_materials">开题资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mid_term_materials">中期资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="defense_materials">答辩资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="degree_thesis_materials">学位论文</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="patent_materials">专利资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="meeting_materials">会议资料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="superior_files">上级文件</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="other_materials">其他资料</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>