/* static/css/download_zone.css */
body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.contentmain {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

#files-list {
    margin-top: 30px;
}

.file-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.file-item:last-child {
    border-bottom: none;
}

.file-item h4 {
    color: #333;
    margin: 0 0 10px;
}

.file-item p {
    color: #666;
    margin: 0 0 5px;
}

.file-item a {
    display: inline-block;
    color: #fff;
    background-color: #007bff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.file-item a:hover {
    background-color: #0056b3;
}
.page-title {
    color: #333;
    font-size: 2.5em; /* 可以根据需要调整字体大小 */
    margin-bottom: 20px; /* 添加一些底部边距 */
}
/* 可以添加一些响应式设计的样式 */
@media (max-width: 768px) {
    .contentmain {
        padding: 10px;
    }

    .file-item h4 {
        font-size: 18px;
    }

    .file-item p {
        font-size: 14px;
    }
}

