<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理系统登录</title>

    <!-- 引入Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.6.2-dist/css/bootstrap.min.css') }}">
</head>
<body>
    {% include 'base/navbar.html' %}
    <div class="container">
        <h1 class="text-center mt-5">管理系统登录</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="/login">
                    <div class="form-group">
                        <label for="userid">学号或教职工号:</label>
                        <input type="text" id="userid" name="userid" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">密码:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">登录</button>
                </form>
            </div>
        </div>
    </div>

    <!-- 引入Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap-4.6.2-dist/js/bootstrap.min.js') }}"></script>

    <script>
            $(function () {
                //禁用“确认重新提交表单”
                window.history.replaceState(null, null, window.location.href);
            })
    </script>
</body>
</html>
