<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>教学科研 - 网络攻防对抗技术研究所</title>
    <!-- 引入Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.6.2-dist/css/bootstrap.min.css') }}">

</head>
<body>
{% include 'base/navbar.html' %}
<div class="sidebar">
    <nav class="col-12 bg-light">
        <!-- 副导航栏 -->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#teaching">教学工作</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#research_work">科研工作</a>
            </li>
        </ul>
    </nav>
</div>
<div class="contentmain"> <!-- Bootstrap 容器 -->
    <main>
        <!-- 教学工作 -->
        <section id="teaching" class="my-5">
            <h2>教学工作</h2>
            <div class="row"> <!-- 网格系统的行 -->
                {% for work in teaching_works %}
                <div class="col-md-6"> <!-- 网格系统的列 -->
                    <div class="card"> <!-- 使用卡片组件 -->
                        <div class="card-header">
                            课程编号：{{ work.course_id }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ work.course_name }}</h5>
                            <p class="card-text">课程性质：{{ work.course_nature }}</p>
                            <p class="card-text">学生层次：{{ work.student_level }}</p>
                            <p class="card-text">授课时间：{{ work.teaching_time }}</p>
                            <p class="card-text">主讲教师：{{ work.owner_names }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- 科研工作 -->
        <section id="research_work" class="my-5">
            <h2>科研工作</h2>
            <div class="row">
                {% for project in research_works %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            项目名称：{{ project.project_name }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ project.project_nature }}</h5>
                            <p class="card-text">负责人：{{ project.owner_names }}</p>
                            <p class="card-text">开始时间：{{ project.start_date }}</p>
                            <p class="card-text">结束时间：{{ project.end_date }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>

</div>
{% include 'base/footer.html' %}


<!-- 引入jQuery和Bootstrap JavaScript -->
<script src="{{ url_for('static', filename='jquery-3.5.1/jquery-3.5.1.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>