<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户帮助 - 网络攻防对抗技术研究所</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_help.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

</head>
<body>
{% include 'base/navbar.html' %}
<div class="sidebar">
    <nav class="col-12 bg-light">
        <!-- 副导航栏 -->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#manual">用户手册</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#index">索引查询</a>
            </li>
        </ul>
    </nav>
</div>
<div class="contentmain">
    <main>
        <section id="user_help">
            <section id="manual">
                <h3>用户手册</h3>
                <p>这里是用户手册的内容...</p>
            </section>
            <section id="index">
                <h3>索引查询</h3>
                <p>这里是索引查询的内容...</p>
            </section>
        </section>
    </main>
</div>
{% include 'base/footer.html' %}
</body>
</html>
